<!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
<script type="text/javascript" src="http://oss.sheetjs.com/js-xlsx/xlsx.full.min.js"></script>
<link href="assets/tabulator.css" rel="stylesheet">
<script type="text/javascript" src="assets/tabulator.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<br>

<div class="col-lg-12 col-md-12">
    <div class="card">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Select Device U1 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu scrollable-menu" id="deviceSelectMenu">
                </ul>
            </div>
            <button class="btn btn-primary" id="myButton" onclick="GetAPIData()">Load Data Table</button>
            <button class="btn btn-primary" id="download-xlsx" onclick="GetAPIData()">Export To Spreadsheet</button>
            <input type="text" name="datetimes">
            <p id="responsebody"></p>
            <div id="maintable"></div>
    </div>
</div>





<script>

var to;
var from;
$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'YYYY/MM/DD hh:mm A'
    }
  }, function(start, end, label) {
    console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
    to = end._d;
    from = start._d;
    console.log(end._d);
    console.log(start._d);
  });
});
</script>

<script type="text/javascript">
    
    //global variables and function loaders
    LoadDropDownBox();
    //LoadDatePickers();
    var chosenDevice;
    var chosenDeviceName;
    var deviceList = [];
    
    //////////////////////////////////////////////////////////////////////drop down box area
    function LoadDropDownBox(){
        var res3 = masterURL + "/<%= loggedInPool %>/lookup_devices/"
        $.ajax({
            type: "GET",
            url: res3,
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, status, jqXHR) {
                //creates the links in the dropdown menu
                data.forEach(element => {
                    var newlink = $('<li><a href="#" data-value="action">' + element.devicename + '</a></li>');
                    $('#deviceSelectMenu').append(newlink);
                    deviceList.push(element);
                });
                //adds code to change when device selected
                $(".dropdown-menu li a").click(function(){
                    $(this).parents(".btn-group").find('.btn').html($(this).text() + '<span class="caret"></span>');
                    $(this).parents(".btn-group").find('.btn').val($(this).data('value'));
                    var selectedvaluefromdropdownbox = $(this).parents(".btn-group").find('.btn').val($(this).data('value'));
                    deviceList.forEach(element => {
                        if (element.devicename == selectedvaluefromdropdownbox[0].innerText)
                        {
                            chosenDevice = element.deviceID;
                            chosenDeviceName = element.devicename;
                        }
                    });
                    console.log(chosenDevice);
                    });
            },
            error: function (jqXHR, status) {
                console.log("ERROR");
            }
        });
    }
    
    ///////////////////////////////////////////////////////////////////////////////////////////////////table area
    function crazytable(data){
        //main table creation, link to ext script
    table = new Tabulator("#maintable", {
        height:"400px",
        autoColumns:true
/*         pagination:"local",
        paginationSize:10,
        paginationSizeSelector:[10, 25, 50, 100, 250, 500, 1000],
        autoColumns:true */
    });

    
    //average table calculation
    table.setData(data);
    var myNode2 = document.getElementById("responsebody");
    while (myNode2.firstChild) {myNode2.removeChild(myNode2.firstChild);}
    var rbody = $('<p>Now viewing table for device: ' + chosenDeviceName +'.</p>');
    $('#responsebody').append(rbody);
}
    /* var labels = (Object.keys(data[0]));
    averageData = JSON.parse(JSON.stringify(data[0])); // clone object here
    var counter = 0;
    for (var i = 0; i < data.length; i++) //cycles through all rows pulled from db
    {
        labels.forEach(element => { //cycles through all colums pulled from db
                if (element == "time" || element == "_id"){// loops through all data above, then below adds each element together
                        }
                else{
                    averageData[element] += data[i][element];
                }
            });
    }
    labels.forEach(element => {
        if (element == "time" || element == "_id"){// loops through the averagedata created object to create averages
                        }
                else{
                    averageData[element] = averageData[element] / data.length;
                }
    });
    delete averageData.time;
    delete averageData._id;
    var averagetable = new Tabulator("#averagetable", {
        autoColumns:true
    });
    averageDataArray = [];
    averageDataArray.push(averageData); //table needs an array or some bs to work
    averagetable.setData(averageDataArray);
    } */

    //////////////////////////////////////////////////////////////////////////////////////////////load data to table from api area
    function GetAPIData() {
      
/*       var fromVal = new Date(document.getElementById("dateFrom").value);
      var fromValSeconds = fromVal.getTime();
      var toVal = new Date(document.getElementById("dateTo").value);
      var toValSeconds = toVal.getTime(); */
      var fromValSeconds = from.getTime();
      var toValSeconds = to.getTime();
      var res3 = masterURL + "/" + chosenDevice + "/tablegrab/" + fromValSeconds + "/" + toValSeconds + "/" + 1;
      var myNode2 = document.getElementById("responsebody");
         while (myNode2.firstChild) {myNode2.removeChild(myNode2.firstChild);}
        var rbody = $('<p>Loading table for: ' + chosenDeviceName + '.</p>');
            $('#responsebody').append(rbody);
      $.ajax({
          type: "GET",
          url: res3,
          crossDomain: true,
          success: function (data, status, jqXHR) {
            if (data == "No Data"){
                console.log("NO DATA!");
                var myNode2 = document.getElementById("responsebody");
                while (myNode2.firstChild) {myNode2.removeChild(myNode2.firstChild);}
                var rbody = $('<p>No data for : ' + chosenDeviceName +' between these times.</p>');
                $('#responsebody').append(rbody);
            }
            else{
                //console.log(data);
                crazytable(data);
            }
            
          },
          error: function (jqXHR, status) {
            console.log("ERROR" + jqXHR + " status: " + status);
          }
      });
  }
    
    //////////////////////////////////////////////////////////////////////////////////////////////load date pickers
    function LoadDatePickers(){
        var fpfrom = flatpickr(document.getElementById('dateFrom'), {
    enableTime: true,
    time_24hr: true,
    dateFormat: "Y-m-d H:i",
});

    var fpto = flatpickr(document.getElementById('dateTo'), {
    enableTime: true,
    time_24hr: true,
    dateFormat: "Y-m-d H:i",
});
    }

var table;

$("#download-xlsx").click(function(){
    table.download("xlsx", "" + chosenDeviceName +".xlsx", {sheetName:"" + chosenDeviceName + " Data"});
});

</script>