<!DOCTYPE html>
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
<table id="table">
    <tr>
        <th>Updated At</th>
        <th>Comp. Exhaust</th>
        <th>Comp. Suction</th>
        <th>Cold Return</th>
        <th>Hot Return</th>
        <th>Hot Tank</th>
        <th>Cold Tank</th>
        <th>Hot Supply</th>
        <th>Evap. Inlet</th>
    </tr>
</table>
</body>

<script>

var data;
var rowCount = 1;
var finalResultArray;
FetchTheData();

function FetchTheData(){
    var resultArray = [];
    fetch('http://165.22.241.11:3000/mitdata')
    .then((response) => {
      return response.json();
    })
    .then((myJson) => {
        console.log(myJson);
        var p = 0;
        while (p < myJson.data.length){
            var DataArray = [];
            DataArray[0] = myJson.data[p + 1];
            DataArray[1] = myJson.data[p];
            var result = (DataArray[0] & 0xff) |
                    ((DataArray[1] & 0xff) << 8);
            var dResult = result / 10;
            p++;
            p++;
            resultArray.push(dResult);
        }
        data = myJson.data;
        resultArray.forEach(resulta =>{
            console.log(resulta);
        })
        finalResultArray = resultArray;
        UpdateTable();
  });
  setTimeout(FetchTheData,15000);
}

function UpdateTable(){
    var table = document.getElementById("table");
    var row = table.insertRow(rowCount);
    rowCount++;
    var timeCell = row.insertCell(0);
    var date = new Date().toLocaleTimeString();
    timeCell.innerHTML = date;
    var j = 1;
    var cellCounter = 1;
    while (j < finalResultArray.length){
        var cell = row.insertCell(cellCounter);
        cell.innerHTML = finalResultArray[j - 1];
        j++;
        cellCounter++;
    }
}
</script>